@model List<DapperTest.Dtos.EstateDtos.ResultEstateByIsFeatureDto>

<section class="ftco-section ftco-properties">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Vitrin</span>
                <h2 class="mb-4">Öne Çıkanlar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="properties-slider owl-carousel ftco-animate">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="properties">
                                <a href="/Estate/Detail/@item.EstateId" class="img d-flex justify-content-center align-items-center" style="background-image: url(@item.ImageUrl);">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </a>
                                <div class="text p-2">
                                    @if (item.ForSale)
                                    {
                                        <span class="status sale">Satılık</span>
                                        <div class="d-flex">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="one">
                                                        <h3><a href="#">@item.EstateName</a></h3>
                                                        <p>@item.CategoryName</p>
                                                    </div>
                                                </div>
                                                <div class="two">
                                                    <span class="price">@item.Price.ToString("c")</span>
                                                </div>
                                            </div>


                                        </div>
                                    }
                                    else if (item.ForRent)
                                    {
                                        <span class="status rent">Kiralık</span>
                                        <div class="d-flex">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="one">
                                                        <h3><a href="#">@item.EstateName</a></h3>
                                                        <p>@item.CategoryName</p>
                                                    </div>
                                                </div>
                                                <div class="two">
                                                    <span class="price">@item.Price.ToString("c") <small>/ aylık</small></span>
                                                </div>
                                            </div>


                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
