@model List<DapperTest.Dtos.EstateDtos.ResultEstateDto>
@{
    ViewData["Title"] = "EstateList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Emlak Listesi</h2>
<hr />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Adres</th>
        <th>Metrekare</th>
        <th>Öneçıkan</th>
        <th>Satılık</th>
        <th>Kiralık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>#</td>
            <td>@item.EstateName</td>
            <td>@item.Adress</td>
            <td>@item.AreaSize</td>
            <td>@item.IsFeatured</td>
            <td>@item.ForSale</td>
            <td>@item.ForRent</td>
            <td>
                <a href="/AdminEstate/DeleteEstate/@item.EstateId" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/AdminEstate/UpdateEstate/@item.EstateId" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }
</table>
<a href="/AdminEstate/CreateEstate" class="btn btn-primary">+ Yeni Oluştur</a>